body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2594fc;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: darkblue;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-info {
  text-align: center;
}

.details {
  margin-bottom: 30px;
}


.footer {
  text-align: center;
  padding: 20px 0;
}

.button {
  background-color: #d48fb3;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #b45583;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.gallery-img {
  width: 300px%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
}

.gallery-heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
